body{

	background-color: lightblue;


}

#container{
	float: left;


}


#header
{	height: 50px
	position: relative;
	color: red;
	background-color: yellow;

}
#leftbody
{	
	height: 600px;
	position: relative;
	width: 30%;
	color: red;
	background-color: grey;
	float: left;

}

#menuleft li
{
border-bottom: 1px dashed black;

}


#menuleft li a{
color: black;
margin-bottom:40 ;
display: inline-block;
padding-left: 20px;
line-height: 40px;

}









#rightbody
{
	float: left;
	height: 600px;
	width: 70%;
	position: relative;
	background-color: lightblue;

}
#footer
{	
	height:50px
	position: relative;
	background-color: green;

}
